<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ebreadshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".myapplication.Dview" />
        <activity android:name=".myapplication.addDelivery" />
        <activity android:name=".myapplication.delivery" />

        <activity android:name=".order.Main2Activity" />

        <activity android:name=".user.custHomeActivity">

        </activity>
        <activity android:name=".user.SignInActivity" />
        <activity android:name=".user.AdminLoginActivity" />
        <activity android:name=".user.CreateAccountActivity" />

        <activity android:name=".menuManagement.ViewFoodActivity" />
        <activity android:name=".menuManagement.CRUDFoodActivity" />
        <activity android:name=".menuManagement.FoodListActivity" />
        <activity android:name=".menuManagement.NewFoodListActivity">

        </activity>
        <activity android:name=".menuManagement.AddFoodItemActivity" />
        <activity android:name=".menuManagement.MenuManagementActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
